@import "tailwindcss";


:root {
  --font-inter : 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins',sans-serif
}

.font-poppins{
  font-family: var(--font-poppins);
}

.font-inter{
  font-family: var(--font-inter);
}

.font-playfair{
  font-family: var(--font-playfair);
}

.swiper-button-next,
.swiper-button-prev {
color: white !important;
}

body {
  background-color: #f8f6efd6;
}

.hero-slide {
  position: relative;
}

/* Hide arrows on mobile */
@media (max-width: 768px) {
  .hero-swiper .swiper-button-next,
  .hero-swiper .swiper-button-prev {
    display: none !important;
  }
}